services:
  db:
    image: postgres:15
    env_file: ./backend/.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

  backend:
    image: synerr0/backend:latest
    env_file: 
      - ./backend/.env
    depends_on:
      - db
    command: sh -c "npx wait-port db:5432 && npm run migrate && npm start"
    expose:
      - "5000"
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    image: synerr0/frontend:latest
    expose:
      - "80"
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge
    